In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-10-02 21:03:25--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1.41M  1.55MB/s    in 0.9s

2023-10-02 21:03:27 (1.55 MB/s) - ‘data.csv.1’ saved [1475504/1475504]

In [3]:
df = pd.read_csv('data.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [4]:
focus_df = df [['Make','Model','Year','Engine HP','Engine Cylinders','Transmission Type','Vehicle Style','highway MPG','city mpg','MSRP']]
focus_df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [5]:
focus_df.columns = focus_df.columns.str.lower().str.replace(' ','_')
focus_df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [6]:
focus_df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
msrp                   int64
dtype: object

In [13]:
categorical_columns = focus_df.dtypes[focus_df.dtypes==object].index
for c in categorical_columns:
    focus_df[c]=focus_df[c].str.lower().str.replace(' ','_')

focus_df

/tmp/ipykernel_13241/3978237636.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  focus_df[c]=focus_df[c].str.lower().str.replace(' ','_')

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

In [14]:
focus_df['price']=focus_df.msrp
del focus_df['msrp']
focus_df

/tmp/ipykernel_13241/716060824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  focus_df['price']=focus_df.msrp

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

In [18]:
focus_df['transmission_type'].value_counts()

transmission_type
automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: count, dtype: int64

In [20]:
focus_df['engine_hp'].corr(focus_df['year'])

0.35179394240883954

In [21]:
focus_df['engine_hp'].corr(focus_df['engine_cylinders'])

0.7799879704685264

In [22]:
focus_df['highway_mpg'].corr(focus_df['engine_cylinders'])

-0.6216057332861733

In [23]:
focus_df['highway_mpg'].corr(focus_df['city_mpg'])

0.8868294962591357

In [24]:
mean_price = focus_df['price'].mean()
mean_price

40594.737032063116

In [35]:
focus_df['binary_price']=(focus_df['price']>mean_price).astype(int)
focus_df['binary_price']

/tmp/ipykernel_13241/3139271977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  focus_df['binary_price']=(focus_df['price']>mean_price).astype(int)

0        1
1        1
2        0
3        0
4        0
        ..
11909    1
11910    1
11911    1
11912    1
11913    0
Name: binary_price, Length: 11914, dtype: int64

In [104]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(focus_df,test_size=0.2,random_state=42)

In [105]:
df_train,df_val = train_test_split(df_full_train,test_size=0.25,random_state=42)

In [106]:
print(len(df_train),len(df_val),len(df_test))

7148 2383 2383

In [107]:
y_train = df_train['binary_price']
del df_train['binary_price']
del df_train['price']
y_val = df_val['binary_price']
del df_val['binary_price']
del df_val['price']

y_test = df_test['binary_price']
del df_test['binary_price']
del df_test['price']

In [108]:
from sklearn.metrics import mutual_info_score
max_score = -1
max_cor= ''
for col in categorical_columns:
    score = mutual_info_score(df_train[col],y_train)
    print(score,col)
    if score > max_score:
        max_score = score
        max_cor= col


print(f'max corr with col {max_cor} with score {max_score}')

0.23976875439118348 make
0.46234389209653 model
0.02095754189630187 transmission_type
0.08414301956779438 vehicle_style
max corr with col model with score 0.46234389209653

In [109]:
df_val.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')

In [110]:
df_train.isnull().sum()
df_train=df_train.fillna(0)
df_val=df_val.fillna(0)
df_test=df_test.fillna(0)

In [111]:
from sklearn.feature_extraction import DictVectorizer
df_train.isnull().sum()
dv =DictVectorizer(sparse=False)

dicts_train = df_train.to_dict(orient='records')
encoded_df_train=dv.fit_transform(dicts_train)
dicts_val = df_val.to_dict(orient='records')
encoded_df_val=dv.transform(dicts_val)

In [112]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(encoded_df_train,y_train)
y_pred = model.predict(encoded_df_val)
y_pred

array([0, 1, 0, ..., 0, 1, 1])

In [113]:
y_val

1918     0
9951     1
5486     0
292      0
3644     0
        ..
4385     0
7339     0
9806     0
11162    1
3256     1
Name: binary_price, Length: 2383, dtype: int64

In [123]:
y_correct = (y_pred == y_val).astype(int)
acc = y_correct.mean()
acc_rounded = acc.round(2)
acc_rounded

0.95

In [120]:
def test_removing_feature(feature):
    df_train_without = df_train.copy()
    df_val_without = df_val.copy()
    print(df_train_without.columns)
    del df_train_without[feature]
    del df_val_without[feature]

    dv =DictVectorizer(sparse=False)

    dicts_train = df_train_without.to_dict(orient='records')
    encoded_df_train_without=dv.fit_transform(dicts_train)
    dicts_val = df_val_without.to_dict(orient='records')
    encoded_df_val_without=dv.transform(dicts_val)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(encoded_df_train_without,y_train)
    y_pred = model.predict(encoded_df_val_without)
    
    return {feature : abs(acc - (y_pred == y_val).mean())}

In [103]:
df_train

              make     model  engine_cylinders      vehicle_style  highway_mpg
3972    mitsubishi  endeavor               6.0            4dr_suv           19
1997           kia   borrego               6.0            4dr_suv           21
5216   lamborghini  gallardo              10.0        convertible           20
2805     chevrolet  colorado               4.0    crew_cab_pickup           27
11369      pontiac      vibe               4.0      4dr_hatchback           26
...            ...       ...               ...                ...          ...
9232        toyota    sienna               6.0  passenger_minivan           25
5710     chevrolet       hhr               4.0              wagon           29
11306      hyundai  veracruz               6.0            4dr_suv           22
4414    mitsubishi      expo               4.0      2dr_hatchback           26
10286         ford    taurus               6.0              sedan           25

[7148 rows x 5 columns]

In [121]:
for feature in ['year','engine_hp','transmission_type','city_mpg']:
    print(feature,test_removing_feature(feature))

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')
year {'year': 0.0012589173310952884}
Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')
engine_hp {'engine_hp': 0.024339068401174946}
Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')
transmission_type {'transmission_type': 0.0016785564414603105}
Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')
city_mpg {'city_mpg': 0.014687368862777994}

In [122]:
min([0.0012589173310952884,0.024339068401174946,0.0016785564414603105,0.014687368862777994])

0.0012589173310952884

In [124]:
focus_df['price']

0        46135
1        40650
2        36350
3        29450
4        34500
         ...
11909    46120
11910    56670
11911    50620
11912    50920
11913    28995
Name: price, Length: 11914, dtype: int64

In [125]:
focus_df['log_price']=np.log1p(focus_df['price'])

/tmp/ipykernel_13241/1044674956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  focus_df['log_price']=np.log1p(focus_df['price'])

In [126]:
ylog_full_train , ylog_test  = train_test_split(focus_df['log_price'],test_size=0.2,random_state=42)

In [127]:
ylog_train , ylog_val  = train_test_split(ylog_full_train,test_size=0.25,random_state=42)

In [128]:
print(len(ylog_train),len(ylog_val),len(ylog_test))

7148 2383 2383

In [130]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

def train_and_evaluate(X_train, y_train , X_val, y_val,alpha):
   
    model = Ridge(alpha=alpha)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse = np.sqrt(mean_squared_error(y_val, y_pred))
    return rmse

alphas = [0, 0.01, 0.1, 1, 10]
min_rsme = 10
min_alpha =100
for alpha in alphas:
    zero_rmse =train_and_evaluate(encoded_df_train,ylog_train,encoded_df_val,ylog_val,alpha)
    print(alpha,zero_rmse)
    if zero_rmse < min_rsme:
        min_rsme = zero_rmse
        min_alpha = alpha

print(min_alpha,min_rsme)

0 2237924912288.7036
0.01 0.22445872016687268
0.1 0.21465920098794408
1 0.2295745070645524
10 0.3203317401223694
0.1 0.21465920098794408